<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>Push to Exist</string>
  <key>Program</key>
  <string>/Users/USERNAME/.bin/report_to_exist</string>
  <key>RunAtLoad</key>
  <false/>
  <key>StandardErrorPath</key>
  <string>/Users/USERNAME/Library/Logs/report_to_exist.log</string>
  <key>StandardOutPath</key>
  <string>/Users/USERNAME/Library/Logs/report_to_exist.log</string>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>13</integer>
    <key>Minute</key>
    <integer>0</integer>
  </dict>
</dict>
</plist>
